@font-face {
  font-family: "PPEditorialNew";
  src: url("../../content/fonts/PPEditorialNew-Ultralight.woff2")
      format("woff2"),
    url("../../content/fonts/PPEditorialNew-Ultralight.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "PPEditorialNewItalic";
  src: url("../../content/fonts/PPEditorialNew-UltralightItalic.woff2")
      format("woff2"),
    url("../../content/fonts/PPEditorialNew-UltralightItalic.woff")
      format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Stamina";
  src: url("../../content/fonts/stamina.woff2") format("woff2"),
    url("../../content/fonts/stamina.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Stamina Bold";
  src: url("../../content/fonts/staminabold.woff2") format("woff2"),
    url("../../content/fonts/staminabold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Stamina Extra Bold";
  src: url("../../content/fonts/staminaextrabold.woff2") format("woff2"),
    url("../../content/fonts/staminaextrabold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 1200;
}
