header {
  width: 100%;
  position: sticky;
  top: 10px;
  margin-top: -10px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(50% - 7.5px);
  margin-left: calc(50% + 7.5px);
}

.partonenav {
  a {
    margin-right: 30px;
  }
}
