.layout {
  width: 100%;
  //   border: 1px solid red;
  position: fixed;
  top: -0px;
  height: 100vh;
  padding: 0px 2vw;
  display: flex;
  justify-content: space-between;
  display: none;
}

.grid {
  background-color: rgba(255, 0, 0, 0.112);
  width: calc(7.14% - 15px);
}
