// $background: #dcd4cb;
// $background2: #d2c8bc;
// $background3: #cec4ba;
// $type: #0c0c0c;
$background: #0c0c0c;
$background2: #141414;
$background3: #101010;
$type: #dcd4cb;
$type2: #dcd4cb;
$maintype: "PPEditorialNew";
$maintypeitalic: "PPEditorialNewItalic";
$secondtype: "Stamina";
$secondtypebold: "Stamina Bold";
$secondtypeextrabold: "Stamina Extra Bold";
$easeOut: cubic-bezier(0.08, 0.81, 0.51, 0.97);
$easeInOut: cubic-bezier(1, 0.02, 0.51, 0.97);
$short: 0.3s;
