$background: #dcd4cb;
$type: #0c0c0c;
$maintype: "PPEditorialNew";
$maintypeitalic: "PPEditorialNewItalic";
$secondtype: "Stamina";
$secondtypebold: "Stamina Bold";
$easeOut: cubic-bezier(0.08, 0.81, 0.51, 0.97);
$easeInOut: cubic-bezier(1, 0.02, 0.51, 0.97);
$short: 0.3s;
