@import "./variables", "./reset", "./fonts", "./footer", "./header", "./layout",
  "./typography", "./noise";

html,
body {
  width: 100%;
  //   overflow-x: hidden;
  background-color: $background;
  display: block;
}

html {
  padding: 10px 2vw;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $secondtype;
  color: $type;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  //   border: 1px solid red;
}

main {
  width: 100%;
}

.dot-hour {
  display: flex;
  align-items: center;
  height: fit-content;
  position: relative;
  width: calc(18% - 5px);
  position: fixed;
  bottom: 10px;
  left: 2vw;
  z-index: 10;
  // justify-content: center;
}

.dot {
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  animation: dotClick 1.5s linear infinite;
}

.hour {
  display: flex;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0.5px;
  margin-left: 5px;
}

@keyframes dotClick {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@media (max-width: 800px) {
  html {
    padding: 10px 10px;
  }

  .dot-hour {
    display: none;
  }
}
