.heading-home-logotype {
  width: 100%;
  z-index: 10;
  position: relative;
}

.aka-word {
  position: relative;
  height: 10px;
  padding-left: calc(14.28vw - 5px);
  margin-top: 10px;
  //   border: 1px solid red;
  z-index: 1;
}

video {
  width: 100vw;
  height: 92vh;
  position: absolute;
  top: -10px;
  left: -2vw;
  object-fit: cover;
  clip-path: inset(1px 1px);
  z-index: 0;
  border: 0px;
  // mix-blend-mode: difference;
  filter: saturate(0);
  opacity: 0.9;
}

.doc {
  position: relative;
  height: 300vh;
}

@media (max-width: 800px) {
  video {
    height: 50vh;
    width: 100%;
    // border: 1px solid red;
    // margin-top: 3vh;
    left: 10px;
    top: 0;
    margin-top: 0;
  }
}
