.how-can-help-home {
  position: relative;
  z-index: 1;
  margin-top: 90vh;
  background-color: $background3;
  padding: 10vh calc(2vw + 7vw);
  //   border-radius: 5px;
  width: 100vw;
  margin-left: -2vw;
  .logos-section {
    // border: 1px solid red;
    width: 100%;
    // margin-left: calc(7.14vw - 2px);
    display: flex;
    justify-content: space-between;
    img {
      width: 10vw;
    }

    .logo1 {
      width: 11vw;
    }

    .logo2 {
      width: 9vw;
    }
    .logo3 {
      width: 12vw;
      position: relative;
      top: -4px;
    }

    .logo5 {
      width: 11vw;
    }
  }
}

@media (max-width: 800px) {
  .how-can-help-home {
    margin-top: 0vh;
    padding: 0vh 0;
    width: 100vw;
    margin-left: -10px;

    .logos-section {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-left: 0px;
      padding: 20px 20px;

      img {
        width: calc(50vw - 20px) !important;
        height: calc(40vw - 20px);
        padding: 0vw 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid red;
        // object-fit: cover;
        margin-bottom: 0vh;
      }

      .logo4 {
        display: none !important;
      }

      .logo5 {
        padding: 0vw 7vw;
      }

      .logo3 {
        top: 0px;
      }
    }
  }
}
