@import "../variables";
h1 {
  margin-top: 5vh;
  margin-left: calc(14.5%);
}

.heading-paragraph-work {
  width: 100%;
  margin-top: 15px;
  text-indent: calc(14.5%);
}

@media (max-width: 800px) {
  h1 {
    margin-left: 0;
  }
  .heading-paragraph-work {
    margin-top: 10vh;
    text-indent: 0;
  }
}
