.about-video-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  video {
    width: 38%;

    border-radius: 4000px;
  }
}

.heading-vision {
  p {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    text-indent: 7.33%;
  }
}

.container-about-experience {
  display: flex;
  justify-content: space-between;
  margin-top: 15vh;
  p {
    width: calc(38% - 7.5px);
    margin-right: 12%;
    // border: 1px solid red;
  }
}

@media (max-width: 800px) {
  .heading-vision {
    p {
      margin-top: 15vh;
    }
  }

  .container-about-experience {
    flex-direction: column;
    p {
      width: 100%;
      margin-top: 30px;
    }
  }

  .about-video-page {
    margin-top: 5vh;
    video {
      width: 90%;
    }
  }
}
